[2016-09-28 20:40] epabst opened #8 "Unclear how to run tool"
I followed the steps in the README, but I still don't have .kt files for rx.  How do I run this tool to actually convert ts to kt?  Please add these steps to the README.

[2016-10-01 17:24] bashor commented on #8
Right now it can be achieved in some ways:
1. Run it with node.js:
`node out/production/ts2kt/ts2kt.js path/to/input.d.ts path/to/output.kt`
Note: the root of the project should be working dir.
2. Directly call `translateToFile_puj7f4$` from JS (`translateToFile` in code).
3. Create run configuration like shared `jq` and run it.

Sorry for the inconvenience, the project is not production ready yet

[2016-10-02 05:07] epabst commented on #8
Thank you for the guidance.  I have a problem though:  I have no
out/production/ts2kt/ts2kt.js.

Eric

On Sat, Oct 1, 2016 at 11:24 AM, Zalim Bashorov <notifications@github.com>
wrote:

[2016-10-02 05:17] epabst commented on #8
Oh.  I figured out how to generate out/production/ts2kt/ts2kt.js in
IntelliJ.

On Sat, Oct 1, 2016 at 11:07 PM, Eric Pabst <epabst@gmail.com> wrote:

[2016-10-03 09:53] bashor commented on #8
Fixed by @epabst in #9

[2016-10-03 09:53] #8 closed

[2016-10-18 21:47] epabst opened #11 "IntersectionType is not supported"
e.g. declare var x: Foo & List<string>;
This is making the tool fail for react.js.

[2016-10-18 21:49] epabst opened #12 "UnionType is not supported"
e.g. declare var x: string|number;
This is making the tool fail for react.js.

[2016-10-18 21:50] epabst opened #13 "FirstType is not supported"
e.g. ```declare function isValidElement<P>(object: {}): object is ReactElement<P>;```
This is making the tool fail for react.js.

[2016-10-18 21:51] epabst opened #14 "When ts2kt fails, it doesn't indicate what line it failed on"

[2016-10-18 21:52] epabst opened #15 "TypeAlias is not supported"
e.g. type Key2 = string;
This is making the tool fail for react.js.

[2016-10-18 21:53] epabst commented on #15
Fixe by https://github.com/bashor/ts2kt/pull/10

[2016-10-18 21:53] epabst commented on #14
Fixed by https://github.com/bashor/ts2kt/pull/10

[2016-10-18 21:54] epabst commented on #13
Fixed by https://github.com/bashor/ts2kt/pull/10

[2016-10-18 21:54] epabst commented on #12
Fixed by https://github.com/bashor/ts2kt/pull/10

[2016-10-18 21:54] epabst commented on #11
Fixed by https://github.com/bashor/ts2kt/pull/10

[2016-10-18 22:12] epabst opened #17 "@nativeNew should be @native("new")."
This made the result for react.js to not compile in Kotlin.

[2016-10-18 22:13] epabst commented on #17
Fixed by https://github.com/bashor/ts2kt/pull/16

[2016-10-18 22:15] epabst opened #18 "interface members should not have "= noImpl""
This makes the result of react.js to not compile.

[2016-10-18 22:15] epabst commented on #18
Fixed by https://github.com/bashor/ts2kt/pull/16

[2016-10-18 22:15] epabst opened #19 "@nativeGetter should return a nullable type"
This makes the result of react.js not compile in Kotlin.

[2016-10-18 22:16] epabst commented on #19
Fixed by https://github.com/bashor/ts2kt/pull/16.

[2016-10-19 08:54] #15 closed

[2016-10-19 08:55] #13 closed

[2016-10-19 09:10] #14 closed

[2016-10-19 09:11] #12 closed

[2016-10-19 09:11] #11 closed

[2016-10-21 12:25] #18 closed

[2016-10-21 12:25] #17 closed

[2016-10-21 12:25] #19 closed

[2016-10-21 13:10] bashor opened #20 "Support TS 2.0 "nullable" types"
Declarations with "nullbale" types are in `types-2.0` branch of DefinitelyTyped

[2016-10-23 04:47] epabst commented on #20
FWIW, it seems so strange in TypeScript that there is such a thing as optional, null, and undefined, and they are all different from each other!

[2016-10-23 05:47] epabst opened #21 "Compilation error with vars: "Property in an interface cannot have a backing field""
This generated code doesn't compile:
        interface Bar {
            var name: String get() = noImpl
        }

It needs to have:
            var name: String get() = noImpl; set(value) = noImpl

[2016-10-25 12:59] bashor commented on #20
I think optional (`?:T`) is the same as `T | undefined`, and they have `null` and `undefined` separately because JavaScript has.

[2016-10-26 11:01] #21 closed

[2016-10-28 12:55] epabst opened #26 "override modifier should be added even if return types don't match"
Kotlin, Java, etc. don't allow methods to return incompatible return types
because the uniqueness of a method doesn't include the return type.
This was causing a compilation error for reactive.d.ts.
If for reason they are incompatible, ts2kt should leave that for the compiler to deal with
rather than guarantee a compilation error by omitting the override modifier.

[2016-11-02 11:48] bashor opened #30 "Verify converted code by kotlinc"
Ideally, it should be an additional check inside tests.
Another possible solution is marking testData as source set.

[2016-11-11 12:30] #26 closed

[2016-11-19 15:46] andy-ms commented on #20
TS supports many singleton values (`null`, `undefined`, `42`, `"foo"`). `undefined` is one of them, and is the default value for uninitialized variables / fields. (An uninitialized field is the same as a non-existent one.)

For the type `{ x: number | undefined }`, TypeScript won't let you omit `x`, while it will for `{ x?: number }`. But at runtime, `({}).x` and `({ x: undefined }).x` are both `u

[2016-11-23 13:04] bashor commented on #20
@andy-ms, good point, thank You.

Well, probably for `{ x: number | undefined }` we must not generate default accessors.

[2016-11-23 13:05] bashor commented on #20
BTW, I've switched to tsc 2.0.10

[2016-11-24 15:05] #20 closed

[2016-11-25 12:55] bashor opened #33 "generate operator modifier for convention functions"

[2017-01-19 19:07] Radisvoik opened #34 "does not compile with kotlin 1.1-beta"

[2017-02-03 09:09] g6123 opened #35 ""ImportDeclaration kind unsupported yet here!""
Hi, I'm trying to translate `knex/knex.d.ts` into `.kt` file.
And, I got the following error now.

[code]

What I understood is that ts2kt does not support some subset of syntax yet, at least one in the `knex.d.ts`.
*I'd like to know what that unsupported syntax exactly is, and how can I contribute to support it.*

Here is a code snippet from `knex.d.ts`, where the error got thrown.
[code]

[2017-02-23 12:58] adelnizamutdinov opened #36 "generated files contain `definedExternally` but don't declare `external` themselves"

[2017-02-28 12:12] tristancaron opened #37 "Output missing imports"
### Environment

- Ubuntu `16.10`
- Kotlin `1.1RC`
- yarn `0.21.3`
- ts2kt `0.0.8`
- vue `2.2.1`

### Problem

The output generated by ts2kt seems to not be usable. It's missing imports, and the IDE complains also about missing `external` keyword.

Also it adds an extra dot like `output..kt`.

### How to reproduce

In a npm/yarn project:

- Open a terminal and go to the project directory root
- `n

[2017-03-02 15:31] mike-neck opened #38 "TypeError happens when converting some d.ts files."
TypeError happens at typescript.js when I'm trying to convert some d.ts files.

[code]

Environment
---

* npm 4.4.0
* typescript 2.2.1
* ts2kt 0.0.12

Reproduce script
---

[code]

[2017-03-08 00:35] nmoresco opened #39 "Keep comments in d.ts files?"
If the source declaration file has comments, could we have an option to keep them when converting to Kotlin?

[2017-03-20 20:26] ScottPeterJohnson opened #41 "Better union support"
Currently type unions in return types get converted to "dynamic". This is pretty unsafe. I'm proposing a safer method, with some Kotlin code attached.
Given a function that returns string|number, generate:
[code]
The inline function would have to be generated in a separate Kotlin file, but it could make for safer code, which might improve the quality of the converter itself. We'd need a type discr

[2017-03-22 02:05] kengorab opened #42 "Cannot convert react.d.ts"
I'm trying to convert the React type declaration file, but am coming across some errors.

I run
[code]

But this gets output:
[code]

I'm using `typescript@2.2.1` in my project's dependencies, but I noticed the `ts2kt` project depends on `typescript@2.0.10`; I don't know if that's related, but I figured I'd mention that the tool is using an outdated version, and some type definitions which get upd

[2017-03-26 20:45] ylemoigne opened #43 "Can't use delegate on external declaration"
I used ts2kt on webix definitions (using typings : `"webix": "registry:dt/webix#4.2.0+20170223145009"`)

It runs smoothly ```$ ts2kt front/typings/globals/webix/index.d.ts
Converting front/typings/globals/webix/index.d.ts
Save declarations:
	./index.kt
	./index.webix.kt
	./index.webix.ui.kt
	./index.webix.ui.datafilter.kt```

But the generated file don't compile under kotlin-1.1.1

Sample of gener

[2017-03-30 02:58] ScottPierce commented on #42
I'm getting the exact same error.

[2017-03-30 03:15] ScottPierce opened #44 "Errors converting react-native"
I run ts2kt on react native and I get the following output:

[code]

When you look at the generated code, it's just using dynamic instead of the provided type:
[code]

[2017-03-30 10:36] bashor commented on #35
@g6123 thanks for the report, sorry for the delay I missed notifications from GitHub.

It means that some node kind not processed somewhere, a reason can be that it's not expected there or it's not supported yet there. Also, it can happen because something changed in new TS compiler.
Anyway, ts2kt should recover somehow and generate some valid code.

In general:
0. About how to build project from

[2017-03-30 10:45] bashor commented on #39
Thanks for the report, sorry for the delay!

[2017-03-30 10:53] bashor commented on #42
looks like duplicate of #38

[2017-03-30 11:06] bashor commented on #41
Sorry for the delay!
It looks too verbose to me. One possible solution that we discussed is using an annotation on the type and write some checker in Kotlin JS frontend.

[2017-03-30 23:38] ScottPeterJohnson commented on #41
Oh, that solution actually does sound better. I'll close this issue in favor of that.

[2017-03-30 23:38] #41 closed

[2017-03-31 10:12] bashor commented on #41
Anyway, thank you for the request

[2017-04-06 13:29] bashor commented on #36
Note it should work in version installed from NPM.

[2017-04-06 13:41] bashor commented on #33
It should work in the version from NPM, fix will be pushed to master later.

[2017-04-14 05:57] GarrisonD opened #45 "Let's improve ts2kt together!"
Hi, @bashor!

I am new to Kotlin and I like it a lot! I am also interesting in contribution to `ts2kt`.

It's difficult for me now to understand ERs (Expected Result) for existing issues.

So, may you have any small tasks for community?

Have a nice day! 🙂

[2017-04-14 11:37] denisidoro commented on #42
Apparently, if you disable exportedByAssignment check, it works: https://github.com/Kotlin/ts2kt/pull/10

[2017-04-14 11:40] denisidoro commented on #44
Have you tried disabling exportedByAssignment check? #10

By the way, moving from Kotlin Android app development to React Native apps would be a lot smoother if we could continue using Kotlin, so I'm looking forward to this as well!

[2017-04-16 17:17] nanodeath opened #46 "Breaks on Underscore"
Trying to convert [Underscore](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/underscore/index.d.ts) generates a number of errors, though possibly not too many to correct by hand.

Initial conversion warnings:

[code]

---
Other things:

At the top of the file,
[code]
I get the "No commas needed to separate annotations" error.

[code]

`IterateePropertyShorthand` and `Iterate

[2017-04-16 17:28] nanodeath opened #47 "Throws exception when converting lodash"
Program doesn't even terminate with lodash:

[code]

[code]

[2017-04-16 17:48] nanodeath opened #48 "jQuery conversion generates "Overload resolution ambiguity"-prone methods"
Converting jQuery doesn't yield any direct errors, but I was expecting to be able to write

[code]
as a result. However, this is invalid, as all of the four overloads match equally well:

[code]

[code]

[2017-04-17 15:23] bashor commented on #48
as a workaround, You can manually add
[code]

[2017-04-17 15:24] bashor commented on #46
@nanodeath thank you for feedback!

[2017-04-18 20:25] bashor commented on #46
Note: this issue should be splitted

[2017-04-18 20:29] bashor commented on #45
Hi, @GarrisonD!

Thanks for interesting, I think You can try to start from any issue marked by [e: Easy](https://github.com/Kotlin/ts2kt/labels/e%3A%20Easy).

Feel free to ask any question and don't forget to write a comment on an issue page if you going to work on it to avoid some clashes.

[2017-04-18 20:29] #45 closed

[2017-04-18 20:37] #34 closed

[2017-04-23 00:27] sirsavary opened #49 "Invalid Kotlin Generated from Phaser-ce Typings"
Running https://github.com/photonstorm/phaser-ce/tree/master/typescript through ts2kt produces invalid Kotlin headers. All definition files convert without errors, with the exception of "box2d.d.ts" which prints the following:
[code]

To save you some time I have attached the generated header files. They were generated with ts2kt v0.0.12.

[headers.zip](https://github.com/Kotlin/ts2kt/files/949386

[2017-05-19 13:53] hiperbou opened #50 "Classes marked as "export" on top level are not translated"
Classes marked as "export" in this definition file are not translated to kt. It works when the class is inside a namespace, but not on top level, like in this example:
https://github.com/NativeScript/NativeScript/blob/master/tns-core-modules/data/observable/observable.d.ts
Only interfaces get translated.

[2017-05-24 15:52] zlepper opened #51 "@types repo but for kotlin"
It would be really awesome if we could have a [at]types like npm repo, but for koltin. Meaning that whenever the [at]types repo is updated, a similar update goes output for the kotlin types repo. This would make it many times easier to maintain types, without having to manually convert with the typescript types.

[2017-05-24 17:10] zlepper opened #52 "Unable to convert three.js"
[code]

Specific code it's complaining about is code like this: `export * from "./three-core";`

And likely also: `export as namespace THREE;`

[2017-05-24 22:33] bashor commented on #51
Thanks, @zlepper!

It's in our plans already.

[2017-06-20 19:40] #33 closed

[2017-06-20 19:45] #36 closed

[2017-06-26 21:14] #47 closed

[2017-06-26 21:17] #38 closed

[2017-06-26 21:17] #42 closed

[2017-07-14 07:41] uglyer opened #53 "Did not convert import and package name is wrong"
https://github.com/linfaxin/AndroidUIX/blob/master/dist/android-ui.d.ts

[2017-08-01 17:18] DioDread opened #54 "@types/react converts with lot of issues."
Kotlin files with types for react converted from [@types/react](https://www.npmjs.com/package/@types/react)

have a lot of issues,
**Conversion logs
*react*
Converting node_modules/@types/react/index.d.ts
ts2kt: "NamespaceExportDeclaration" kind unsupported yet here! (node_modules/@types/react/index.d.ts:31:16 to 32:27)
ts2kt: "ExpressionStatement" kind unsupported yet here! (node_modules/@types/r

[2017-08-01 17:38] DioDread commented on #54
Build output from Idea
![build](https://monosnap.com/file/vkUDqzYuNHw7iFnP05EN1nkgCWJymS)

Also there is was comma in annotation
`@file:[JsQualifier("React"), JsModule("React")]`

[2017-08-04 10:47] bashor opened #55 "Generate builder functions for SAM like interfaces"
Examples:
[code]

[2017-08-04 10:51] bashor opened #56 "Generate typealias to Kotlin's function type when it's possible (?)"
What should we do with optional parameters?
  * generate overloads
  * don't generate typealias for such cases

[2017-09-04 12:46] kosiakk commented on #39
Many TS declarations contain rich comments with `@param` annotations. So, this feature is very useful for JavaDoc-style comments in the output

[2017-10-07 05:53] sawino opened #57 "Cannot convert babylon.d.ts to usable kt files"
When I tried to use ts2kt to convert babylon.js's type definition file to .kt files, I got log like below and the converted babylon.*.kt files got hundreds of compile errors.

The babylon.d.ts can be found from https://github.com/BabylonJS/Babylon.js/tree/master/dist.

ts2kt version: 0.0.14
Converting babylon.d.ts
ts2kt: "TypeQuery" kind unsupported yet here! (babylon.d.ts:170:30 to 170:46)
ts2kt:

[2017-10-12 01:03] Danilo-Araujo-Silva opened #58 "Cannot convert react-redux"
When trying to convert the react-redux typescript definitions to kotlin the following exception ocurrs:

cd DefinatelyTyped/types/react-redux
ts2kt index.d.ts

[code]

[2017-10-30 07:35] sawino commented on #57
hello, how is it going for this issue? do i need to give more information for this problem?

[2017-10-30 21:01] bashor commented on #57
Hi, @sawino!

No, there is no more information required. I just didn't have time to fix it yet, sorry!

[2017-10-30 21:03] bashor commented on #57
Does it block you? You can just fix errors in generated code. To simplify this process you can comment the part of API what you don't need.

[2017-11-04 10:36] unicomp21 commented on #57
wow, if this could work for babylonjs, that would be amazing!

[2017-11-16 21:33] cypressious opened #59 "Generated code from web-ext-types is full of errors"
You can get the type definitions from https://github.com/kelseasy/web-ext-types

[2017-11-17 17:05] sawino commented on #57
@bashor , thank you for your reply. I have managed to use what I need by fixing errors in the generated  code, which was recommended by you. Thanks.

[2017-11-25 14:28] ScottHuangZL opened #61 "Fail convert https://github.com/DefinitelyTyped/DefinitelyTyped/blob/types/axios/axios.d.ts"
**NullPointerException: null**
    at Object.throwNPE (C:\Users\scott_huang\AppData\Roaming\npm\node_modules\ts2kt\kotlin.js:3325:11)
    at TsClassToKt.visitClassDeclaration_4wvyue$ (C:\Users\scott_huang\AppData\Roaming\npm\node_modules\ts2kt\ts2kt.js:1956:114)
    at TypeScriptToKotlin.visitClassDeclaration_4wvyue$ (C:\Users\scott_huang\AppData\Roaming\npm\node_modules\ts2kt\ts2kt.js:2494:16)

[2017-11-28 10:32] bashor commented on #61
@ScottHuangZL what is the version of ts2kt do you use?

[2017-11-28 10:50] ScottHuangZL commented on #61
0.0.14

[2017-11-28 11:19] bashor commented on #61
Doesn't crash on macOS, will try on Windows

[2017-11-28 11:30] bashor commented on #61
I can't reproduce it on windows too. Could you please attach the file that you try to convert and full log?

[2017-11-29 08:53] ScottHuangZL commented on #61
Please get index.d.ts from below link
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/axios-mock-adapter

and run "ts2kt -d headers index.d.ts" to get the result

[2017-11-29 16:52] bashor commented on #61
Works good to me for this declaration too

[2017-11-30 10:26] unicomp21 commented on #57
Is babylonjs conversion working now w/o errors?

[2017-11-30 14:58] ScottHuangZL commented on #61
I use node 9.2.0

Can you advise your steps for how to convert that index.d.ts? Thanks.

[2017-11-30 17:37] bashor commented on #61
Nothing special:
install ts2kt@0.0.14
Download [axios-mock-adapter/index.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/axios-mock-adapter/index.d.ts) or [types/axios/axios.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/types/axios/axios.d.ts)
mkdir "headers"
And run by `ts2kt -d headers index.d.ts`

[2017-12-01 03:22] ScottHuangZL commented on #61
mh...
I will try to reinstall ts2kt again tonight and do last try.
It should be caused by node version... if still failed...

Btw, how about JB also maintain a kotlin headers for the top 50 popular/selected JS/Component header?

[2017-12-01 12:37] bashor commented on #61
Yes, we are going to create a repository with declarations soon.

[2017-12-06 17:54] bashor opened #66 "Avoid inherit companion object from nested classifiers, since now it leads to cyclic dependencies"
For example, see [alertify.d.kt#L29](https://github.com/Kotlin/ts2kt/blob/b2281dbc088169927bf21880c798595985557df1/testDefinitelyTyped/expected/alertify/alertify.d.kt#L29)

[2017-12-06 21:25] huston007 opened #67 "Cannot convert "material-ui" package"
I'm trying to convert "material-ui" package which is located here: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/material-ui
I tried 0.18.5 version: `npm i @types/material-ui@0.18.5`

I use "ts2kt-automator" wrapper (but it just runs ts2kt by CLI command shown above)

But ts2kt fails with following output:
[code]

[2017-12-16 21:49] ScottPierce commented on #58
Similar issue with `react-native`:

[code]

[2017-12-18 20:53] bashor commented on #58
Crash is fixed in 0.0.20 and it will be available on NPM soon

[2017-12-19 03:49] ScottPierce commented on #58
@bashor The output seems to be wrong when doing the conversion on react native.

[react-native-result.zip](https://github.com/Kotlin/ts2kt/files/1570320/react-native-result.zip)

React natives several thousand line file is converted to a 37 line kotlin file:
[code]

[2017-12-19 04:59] ScottPierce commented on #67
Seeing this too. It was sporadic at first, but now I can't seem to even get past it.

[code]

[2017-12-19 17:50] bashor commented on #67
Looks like the original issue is fixed!

@ScottPierce please create separate issue for your case if it's still actual

[2017-12-19 17:50] #67 closed

[2017-12-19 19:05] #58 closed

[2017-12-22 10:26] up-to-you opened #70 "Confusing interfaces names conversion"
ts2kt version :
0.0.20
material-ui version:
@types/material-ui@0.20.0

ts2kt conversion results in weird interfaces names :
[code]

[2017-12-22 12:20] up-to-you opened #71 "React "material-ui" : unresolved reference React"
After generation kotlin stubs for react material-ui (ts2kt v0.0.20, material-ui v0.20), runtime results:
[code]

[2017-12-26 11:12] bashor commented on #71
RIght now you should convert react declarations by your self and maybe fix some references. Sorry for the inconvenience.

[2017-12-26 11:29] up-to-you commented on #71
Can you provide example at least for this case ? I mean React declaration and its attributes.
Thanks in advance!

[2017-12-26 12:26] bashor commented on #71
Declarations that are you need are here https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/v15/index.d.ts

[2017-12-26 12:26] bashor commented on #70
@up-to-you do you have any suggestion for the name here? And even any heuristic to improve naming for this case?

[2018-01-18 12:26] diklimchuk opened #72 "NotImplementedError while converting node mappings"
Running `ts2kt DefinitelyTyped/types/node/v8/index.d.ts -d headers` gives me this error:

[code]
The last version it doesn't crash is 0.0.18

[2018-01-18 14:48] CaelumF opened #73 "Unescaped keywords when typescript definition contains keywords"
When converting https://www.npmjs.com/package/@types/rest, the resulting Kotlin contains many errors whenever the "when" word is used. Should these be backticked? There are also errors for "_" and "val"s

[2018-01-23 13:27] iamBedant commented on #67
@bashor Its not fixed yet. Getting the same issue.

[2018-01-23 14:06] bashor commented on #67
@iamBedant which one? Which version of ts2kt fo do you use?

[2018-01-23 19:13] iamBedant commented on #67
I am using ts2kt version: 0.1.0

[2018-02-05 17:15] #72 closed

[2018-02-06 18:44] #73 closed

[2018-02-06 18:54] bashor commented on #72
Fixed in 0.1.1

[2018-02-06 18:54] bashor commented on #73
Fixed in 0.1.1

[2018-02-06 18:59] bashor commented on #67
@iamBedant could you please provide exact commands to reproduce?
Is the destination directory exist?

[2018-02-25 11:11] koliyo commented on #50
This is really limiting!

[2018-02-25 11:14] koliyo commented on #50
FYI, this is the one I am trying to use

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/minio/index.d.ts

[2018-02-26 18:13] bashor commented on #50
@koliyo honestly it's incorrect d.ts file, AFAIK classes must have `declare` modifier inside d.ts file.
So you can simply workaround it by adding `declare` modifier to all class.

[2018-02-26 18:45] bashor opened #74 "Make `declare` keyword optional by default"
Relates to: #50

[2018-02-26 18:46] bashor commented on #50
@koliyo @hiperbou since `ts2kt@0.1.3` you can use `-Xdeclare-is-optional` option to convert classes even `declare` keyword is missed.

[2018-02-26 19:18] bashor commented on #50
According to Microsoft/TypeScript#22187 declarations are correct, so I reopen the issue

[2018-02-27 09:24] bashor opened #76 "Switch to gradle build"
Pros:
* Incremental compilation
* Dogfooding (gradle integration, and IC)

Cons:
* Slow run/configuarion

[2018-02-27 09:32] bashor opened #77 "Switch to generated tests"
Pros:
* More convenient running part of tests
* Dogfooding for unit testing
Cons:
* Must regenerate every time after adding new tests
* Minor [1]: No navigation to testdata

[1] Minor since it will not be lost with this change, it's just unsupported for Kotlin tests

[2018-04-02 19:56] deviant-studio opened #78 "Batch processing"
Hello!
I'm trying to process bunch of .ts files, particularly `firebase` declarations from this repo:
https://github.com/firebase/firebase-js-sdk
I've prepared simple script:
[code]

it works ok, but i see lot of clashed redeclarations in generated code like
`external interface `T$0``

`external interface `T$1``

etc
It would be nice to have batch mode in ts2kt tool that will allow to generate uni

[2018-04-11 12:13] pavlospt opened #79 "Export declare type is not converted"
Found out while converting firebase typings with `ts2kt` that types declared with: `export declare type` were not converted and missing from `.kt` at all.

[2018-04-17 21:42] bashor commented on #79
Example for the PR:
[code]

Declarations from:
https://github.com/firebase/firebase-functions/blob/bcb006f0965338fa5a6d9fb34389515727196ca6/src/cloud-functions.ts#L175

[2018-04-17 21:42] bashor commented on #79
Actual problem is that ts2kt now inline most of type declarations.

[2018-04-18 05:13] pavlospt commented on #79
Do you have an example of the inlining?

[2018-04-18 10:40] bashor commented on #79
Take a look at usages of type declarations.

[2018-04-22 15:28] MartinMajewski opened #80 "Exporting NodeJS types results in unsupported kind and Kotlin/npm compilation errors"
Hi all,

I started using "create-react-kotlin-app," thus Kotlin with React and NodeJS and wanted to get all NodeJS types for code assistance and ease of import within my Kotlin project.

However, converting the index.d.ts inside the @types/node folder results in many errors and the final web application quits due to compilation errors.

Maybe you can guide me what I am doing wrong?

Using ts2kt on

[2018-04-30 04:13] ammachado commented on #52
The same problem happens with Angular.  @bashor, can you give me some advice of where to start looking to deal with this bug?

[2018-05-04 18:56] bashor commented on #80
It's expected that some declarations after generation required some manual fixes, so just try to fix them. If you do it please feel free to contribute declarations and fix Kotlin/js-externals#20
Also, you can subscribe to these issues to get updates.

[2018-05-04 20:09] ammachado commented on #52
Hi @bashor,

To me, it seems that the problem lies in the second case, as you pointed out in your last comment.  I have a failing test case on my fork for that.

[2018-05-04 20:36] bashor commented on #52
Do you have any idea about what we should generate for this case?

[2018-05-04 20:39] ammachado commented on #52
I was thinking about "rewriting" the export directive to do something more like a server side include do.  That's where I'm stuck at.

[2018-05-04 20:57] bashor commented on #52
I'd find more use cases and trying to write required code manually to get a better understanding.

[2018-07-29 14:46] altavir opened #81 "Proposal to handle Partial"
I just installed latest version and saw that `ts2kt` still does not handle partials. One could ignore TypeScript, but the situation when a lot of fields in the JS object are optional is fairly frequent. I want to propose one of the possible ways to handle it without modifying something in the language itself.

Consider generated interface
[code]
I propose to check the whole definition to see if th

[2018-08-10 18:46] shevchenkobn opened #82 "Development of the project"
I have recently discovered Kotlin and liked it a lot! As for me, it fits Javascript better than Typescript.
Moreover, Kotlin provides a modern and top-notch OOP, including operator overloading. (Oh, I missed so much arbitrary types as keys in `Map` because no `hashCode()` introduced).

Kotlin provides a modern framework and excellent type safety. But the fact is that TS has already become a de-fac

[2018-08-13 06:58] apomelov opened #83 "Generates invalid Kotlin for phaser.d.ts"
ts2kt version: 0.1.3

There are issues with imports in the code generated from phaser.d.ts (https://github.com/photonstorm/phaser3-docs/blob/master/typescript/phaser.d.ts).
Definition uses namespaces, for example:
[code]
That results into `phaser.Phaser.Actions.kt` and `external fun <...> GridAlign(items: G, options: GridAlignConfig): G = definedExternally`
The problem is `GridAlignConfig` is defi

[2018-08-13 07:31] apomelov opened #84 "Generates invalid Kotlin for phaser.d.ts (2)"
ts2kt version: 0.1.3

There are issues with inheritance (missing override keyword) in the code generated from phaser.d.ts (https://github.com/photonstorm/phaser3-docs/blob/master/typescript/phaser.d.ts).
Some definitions override parents' functions:
[code]
That results in quite a similar kotlin code:
[code]
The function Line.getStartPoint hides member of supertype Curve so should be marked with `o

[2018-08-13 07:39] apomelov opened #85 "ts2kt: "StringLiteral" kind unsupported yet here"
ts2kt version: 0.1.3

A fragment from phaser.d.ts (https://github.com/photonstorm/phaser3-docs/blob/master/typescript/phaser.d.ts):
[code]
results into `ts2kt: "StringLiteral" kind unsupported yet here!` in the stderr.

[2018-08-13 20:08] bashor commented on #82
Sure! We will continue working on it!

Please report them as separate issues.

You can contribute to this! :)

We will be glad to any kind of contribution!
It can be:
* Docs (tutorials, posts, etc.)
* New declarations in [Kotlin/js-externals](https://github.com/Kotlin/js-externals)
* Contribute to this project (ts2kt)

And we ready to help you and any other contributor with it.

[2018-08-13 20:08] #82 closed

[2018-08-17 19:59] shevchenkobn opened #86 "Add option for specifying module name or take it as a name of the directory"
While translating `moment.js` all functions-constructors are defined without `@JsModule('moment')`, so moment is not automatically loaded in JS code.

_Possible solutions:_

- add option `-m` for specifying the name of module
- parse `node_modules` directly and work with the directory or receive directory as an argument

[2018-08-17 20:09] shevchenkobn opened #87 "Include import statements in .kt files"
Kotlin has an `import as` structure but the utility doesn't include imports to `.kt` files.

[2018-08-17 20:29] shevchenkobn opened #88 "Automatic resolving of all dependencies"
I think it is the hugest obstacle for global `.d.ts` to `.kt` translation.

For example, I installed `express` and 50 packages got downloaded, `jest` - more than 500! Not every of them has definition files but some do. Manual fixing is not an option.

`ts2kt` is already able to put all the files in the specified directory. It would be nice if the utility compared files, present in output directory

[2018-08-20 18:18] bashor commented on #86
@shevchenkobn could you please add a link to a declaration that you have tried to convert?

[2018-08-20 20:27] shevchenkobn commented on #86
https://github.com/moment/moment/blob/develop/moment.d.ts
After translation 2 files were generated: `moment.kt` - contains a list of `moment` function overloads and lacks `@JsModule('moment')` for each of them to import in JS properly; `moment.moment.kt` - everything is ok (excepting not suppressed `NOTHING_TO_OVERRIDE` for `valueOf` method), `package moment;` and it is ok.

The package statement

[2018-09-07 12:37] epabst commented on #35
I think it would be good for an ImportDeclaration to generate a comment of what should be imported.

[2018-09-11 12:16] epabst opened #89 "README steps to build this project are out of date"
When I run ```ant -f build.xml update.tools```
I get this:
[code]

[2018-09-14 17:09] bashor commented on #76
I believe that it should be possible to work on this project in IntelliJ IDEA Community.

[2018-09-14 17:13] bashor commented on #76
"Incremental compilation" is no longer an argument because since 1.2.70 (or even 1.2.60?) it works for IntelliJ projects too.

[2018-09-17 13:09] nbransby opened #91 "Why do namespaces translate to files and not packag dirs?"
they end up with package statements that don't match they file location

[2018-09-18 04:28] epabst opened #95 "Parameter type of Union of string values causes duplicate functions"
Example:
[code]
Is resulting in:
[code]
but should be:
[code]

[2018-09-18 04:37] epabst commented on #57
FWIW https://github.com/Kotlin/ts2kt/pull/93 fixes these errors: "TypeQuery" kind unsupported yet here!

[2018-09-18 04:38] epabst commented on #56
Can you provide some example typescript?

[2018-09-18 04:49] epabst opened #97 "`"<file path>".Foo` shows up when referencing exported type"
Example:
[code]
ends up including:
[code]
but should just have:
[code]

[2018-09-18 05:02] epabst commented on #85
It looks like the latest phaser no longer uses that string literal.  It now has:
[code]
which successfully creates this:
[code]
Can this be closed?

[2018-09-18 05:13] apomelov commented on #85
Just tried the last versions, got a list of warnings (maybe it is different from the first one I get):
`ts2kt version: 0.1.3
Converting phaser.d.ts
ts2kt: "StringLiteral" kind unsupported yet here! (phaser.d.ts:780:21 to 784:15)
ts2kt: "StringLiteral" kind unsupported yet here! (phaser.d.ts:784:25 to 788:15)
ts2kt: "StringLiteral" kind unsupported yet here! (phaser.d.ts:788:25 to 792:19)
ts2kt: "S

[2018-09-18 05:33] epabst commented on #85
What should the Kotlin look like?

[2018-09-18 10:30] apomelov commented on #85
I'm not familiar with TS enough, but it seems to be like some autogenerated intermediate type.

[2018-09-20 07:28] kenzierocks opened #100 "Generated equals may not override `Any#equals`"
Some libraries, in this case `js-joda`, declare their equals methods as taking (TypeScript) `any`. This results in the Kotlin stub function `override fun equals(other: Any): Boolean`, however this doesn't actually override `Any#equals` which is defined as nullable: `fun equals(other: Any?): Boolean`. I think the correct behavior here would be to emit `other: Any?` in the stub, since TypeScript's `

[2018-09-21 04:51] epabst opened #101 "Many .kt files in testData directory don't compile due to having multiple packages"
These files should be split into multiple files in order to compile.
The .out file could be kept as a single file which is compared with multiple.

[2018-09-24 21:56] nbransby opened #102 "Abstract classes convert incorrectly"
[code]
converts to:
[code]

The class and function are missing the abstract modifier

[2018-09-24 22:10] nbransby opened #103 "Protected members convert incorrectly"
[code]
converts to:
[code]

The function is missing the protected modifier

[2018-09-25 00:39] epabst commented on #30
I'm actively working on this,  including fixing the redeclarations, etc.

[2018-09-28 03:02] epabst commented on #102
@nbransby, thank you for identifying this issue. :)

[2018-09-28 04:28] epabst commented on #103
Thanks again.  I have a fix ready for review.

[2018-09-28 04:31] epabst commented on #91
I have a fix for this but it is held up by https://github.com/Kotlin/ts2kt/pull/90

[2018-09-29 04:39] epabst commented on #76
I can edit the project in IntelliJ Community but your Run Configurations require IntelliJ Ultimate.  Gradle works in Community.

[2018-09-29 17:49] epabst opened #105 "Error: "External class constructor cannot have a property parameter""
Example
[code]
is resulting in:
[code]
which has compile error "External class constructor cannot have a property parameter".

This fixes that error:
[code]

[2018-09-29 20:49] epabst opened #106 "equals, hashCode, and toString methods can fail to compile"
Example:
[code]
becomes:
[code]
which doesn't compile.  It should be:
[code]

[2018-09-29 21:31] epabst opened #108 "Numeric literal properties cause Kotlin compile errors"
Example:
[code]
becomes:
[code]
but it fails with Kotlin compile error "Name contains illegal chars that can't appear in JavaScript identifier"
using Kotlin 1.2.70.
Either Kotlin needs to be fixed to allow them or else they should be renamed but with a @JsName annotation.

[2018-10-02 02:29] epabst opened #109 "Generated extension functions don't compile"
Example:
[code]
results in:
[code]
which fails with compile error "Declaration of such kind (extension function) cant be external", etc.
It should be:
[code]

[2018-10-12 04:32] epabst opened #110 "Generic optional methods cause compilation error"
Example:
[code]
becomes:
[code]
but it should be the following (with or without the comments):
[code]

[2018-10-12 05:30] epabst commented on #110
I have started on the fix for this.

[2018-10-12 05:45] epabst opened #111 "Variable override to more specific type causes compilation error"
Example:
[code]
results in
[code]
which fails with compilation error:
"Type of 'baz' doesn't match the type of the overridden var-property 'public abstract var baz: Any defined in `interface`.override.Foo'."

One solution is to make it be:
[code]
Another is to make it be:
[code]

[2018-10-14 04:03] epabst commented on #111
I'm working on this.

[2018-10-29 18:05] lamba92 commented on #71
yeah but i don't think those are compatible with JetBrains React Wrapper... Is there any solution to make material-ui work with the official wrappers?

[2018-11-06 17:54] #76 closed

[2018-11-06 17:54] #89 closed

[2018-11-08 07:17] epabst opened #113 "Function overloaded with different string literals causes duplicate function"
Example:
[code]
result in:
[code]
but it should be:
[code]

[2018-11-08 07:34] epabst opened #114 "Reference to type outside of module causes compilation error"
Example:
[code]
results in:
[code]
and
[code]
but it should be:
[code]
and
[code]

[2018-11-09 06:17] epabst opened #116 "Reference to "type" in other namespace causes compilation error"
Example:
File: objectType/asTypeAliasInNamespaces/asTypeAliasInNamespaces.d.ts
[code]
results in:
File: objectType/asTypeAliasInNamespaces/a/asTypeAliasInNamespaces.a.d.kt
[code]
and
File: objectType/asTypeAliasInNamespaces/b/asTypeAliasInNamespaces.b.d.kt
[code]
but it should be:
File: objectType/asTypeAliasInNamespaces/a/asTypeAliasInNamespaces.a.d.kt
[code]
and
File: objectType/asTypeAliasInNam

[2018-11-09 06:44] epabst opened #117 "Type alias with type param used in higher-order function causes compilation error"
Example:
[code]
results in compilation error:
[code]
but it should be:
[code]

[2018-11-09 07:08] epabst commented on #101
I have a fix for this but it depends on my other pull requests being merged.

[2018-11-22 21:48] epabst commented on #44
Could someone rename this issue to something like this?:
[code]
"react-native" isn't recognizably about TypeQuery and TupleType.
Ideally, the issue would be split into two issues since they could be fixed independent from each other.

[2018-11-26 19:40] bashor commented on #56
Something like that:

[code]

[code]

[2018-11-29 13:09] #109 closed

[2018-11-29 14:10] #50 closed

[2018-11-29 14:44] #105 closed

[2018-11-30 11:02] #97 closed

[2018-12-28 03:54] epabst commented on #110
Please review the fix for this.

[2019-01-30 16:01] stewe opened #126 "README run with node.js instruction is wrong"
Running `node build/distrib/ts2kt.js path/to/input.d.ts path/to/output.kt` results in

Debugging the script showed that also path/to/input.d.ts path/to/output.kt was interpreted as a source, because it doesn't starts with '-'.

Adding '-d' works perfectly.

[2019-02-15 05:43] Guang1234567 commented on #44
Hello dev:

ts2kt  https://github.com/DefinitelyTyped/DefinitelyTyped/tree/42e3741a35ebe4b181ea80089ee960fc7fb9ae59/types/react-native

also has some error.

@ScottPierce

Where could i download the `react-native.d.ts`?

[2019-02-16 20:05] ScottPierce commented on #44
@Guang1234567 Here is where almost all ts definitions are: https://github.com/DefinitelyTyped/DefinitelyTyped

[2019-02-17 14:36] Guang1234567 commented on #44
@ScottPierce

https://github.com/DefinitelyTyped/DefinitelyTyped/tree/42e3741a35ebe4b181ea80089ee960fc7fb9ae59/types/react-native

donot have `react-native.d.ts` but `index.d.ts`.

[2019-02-17 15:44] ScottPierce commented on #44
index.d.ts is right. That should be all you need. I probably just re-named
it if you are referencing a file name I used above.

On Sun, Feb 17, 2019 at 9:36 AM GuangGuang <notifications@github.com> wrote:

[2019-02-21 01:08] hedgehog1029 opened #127 "Reference paths seem to be resolved relative to filesystem root"
Trying to convert the [Node.js bindings](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/node) which uses the `/// <reference path="globals.d.ts" />` syntax for including other files. It seems that ts2kt tries to look for references relative to the filesystem root, as per this stacktrace:

[code]

The reference paths don't have the preceding slash so something in ts2kt seems t

[2019-02-27 23:00] metarag commented on #51
Any updates on this? Is there an issue page on JetBrains' YouTrack that I can follow?

[2019-04-12 18:19] bashor commented on #51
Hi, @zlepper and @metarag!

We have a repository for that -- `https://github.com/Kotlin/js-externals`. But right now the working on is suspended.

And currently, we think that with the new converter we can convert d.ts files on demand.
So, our plan is to make possible to depends on d.ts files directly in your gradle build configuration, something like:

[code]

[2019-05-13 20:02] Miha-x64 commented on #81
FYI, significantly different [`Partial` sample for Kotlin](https://github.com/Miha-x64/reactive-properties/blob/dev/extended-persistence/src/test/kotlin/net/aquadc/persistence/extended/PartialsTest.kt) suitable for statically typed languages where everything is a reference.

[2019-05-22 14:50] steelxtreme commented on #127
Any Update on this?
I'm having the same Issue

[2019-06-03 20:28] joffrey-bion commented on #85
I believe this is the TypeScript equivalent of Kotlin's backquote ```.
Am I missing something or could it simply be translated as backquoted identifiers?

[2019-06-04 12:38] epabst commented on #85
A StringLiteral is a type in TypeScript which is like an enum class in what
values are allowed,  except that it is still a String.

[2019-06-04 12:48] joffrey-bion commented on #85
@epabst The issue at hand is not about string literal types. What ts2kt fails to process here is a StringLiteral token in the position of a property name in a type declaration. ts2kt does not seem to support property names declared as string literals (as opposed to regular identifiers).

This kind of string literals used as property names is a way to define type safe properties that have invalid c

[2019-07-02 05:22] decafbad opened #128 "nothing was converted from jsbi"
ts2kt just says "Nothing was converted" when I tried to convert jsbi.d.ts

https://github.com/GoogleChromeLabs/jsbi/blob/master/jsbi.d.ts

[2019-09-13 14:26] sgarfinkel opened #129 "Deprecate and direct users to Dukat"
These tools both seem like they do the same thing, and Dukat is being integrated into the official gradle plugin.

I propose deprecating this and directing users to Dukat.

[2019-11-05 10:05] Schahen commented on #77
Closing this once since the way testset is formed in dukat is completely different. If needed, will create a new task.

[2019-11-05 10:05] #77 closed

[2019-11-05 10:10] Schahen commented on #126
ts2kt is deprecated, use dukat (http://github.com/Kotlin/dukat) instead.
in dukat we've never claimed to work it this way )

[2019-11-05 10:10] #126 closed

[2019-11-05 10:16] Schahen commented on #30
ts2kt is obsolete, use https://github.com/Kotlin/dukat instead and there we do have tests for compilation phase

[2019-11-05 10:16] #30 closed

[2019-11-05 10:18] Schahen commented on #56
ts2kt is deprecated, use https://github.com/Kotlin/dukat instead
In dukat we do preserve typealiases whenever it's possible.

[2019-11-05 10:18] #56 closed

[2019-11-06 14:09] #129 closed